.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.Rectangle, .RectangleDark {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60vw;
    border: solid 0.5px #fff;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.5), 0 0 16px 0 rgba(0, 0, 0, 0.5);
    display: block;
    border-radius: 6px;
    background-color: #9f5ccc;
    padding: 1rem;
    text-align: center;
    max-height: 55vh;
    overflow-y: auto;
}

.RectangleDark {
    background-color: #9b52c9;
}

.Dialog {
    color: #ffffff;
    z-index: 30;
    display: inherit;
    border: solid 0.5px #000000;
    width: 37.5vw;
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(to bottom, #000 1%, #393939);
    top: 4%;
    height: 8%;
    left: 1%;
}

.DialogContent {
    display: block;
    font-size: clamp(0.5rem, 3vw, 1.25rem);
    margin-left: 17%;
    width: 33vw;
    text-align: left;
    margin: 2% -2%;
    margin-left: 2%;
    font-size: clamp(0.5rem, 3vw, 1rem);
}

.Rectangle::-webkit-scrollbar, .RectangleDark::-webkit-scrollbar {
    width: 12px;
}

.Rectangle::-webkit-scrollbar-track, .RectangleDark::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ae82cc;
    border: 1px solid #ffffff;
}

.Rectangle::-webkit-scrollbar-thumb, .RectangleDark::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #873abb;

}


.Rectangle h1, p {
    text-align: center;
    color: white;
}

.customButton, .closeButton {
    border: solid 0.5px #fff !important;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.5), 0 0 16px 0 rgba(0, 0, 0, 0.5) !important;
    background-color: #ae82cc !important;
    color: white !important;
}

.closeButton {
    align-items: flex-end !important;
    display: flex !important;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
}

.LoadingCentered {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 23%;
    width: 100%;
    z-index: 45;
}